// Colors
$grey: #333333;
$cream: #eee;

// Navigation colors
$nav-background: $grey;
$nav-text-color: $cream;

// Clock variables
$clock-text-color: $cream;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
